<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>CR</key>
  <string>C_R_.glif</string>
  <key>NULL</key>
  <string>N_U_L_L_.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>uni000A</key>
  <string>uni000A_.glif</string>
  <key>uni0E81</key>
  <string>uni0E_81.glif</string>
  <key>uni0E82</key>
  <string>uni0E_82.glif</string>
  <key>uni0E84</key>
  <string>uni0E_84.glif</string>
  <key>uni0E87</key>
  <string>uni0E_87.glif</string>
  <key>uni0E88</key>
  <string>uni0E_88.glif</string>
  <key>uni0E8A</key>
  <string>uni0E_8A_.glif</string>
  <key>uni0E8D</key>
  <string>uni0E_8D_.glif</string>
  <key>uni0E94</key>
  <string>uni0E_94.glif</string>
  <key>uni0E95</key>
  <string>uni0E_95.glif</string>
  <key>uni0E96</key>
  <string>uni0E_96.glif</string>
  <key>uni0E97</key>
  <string>uni0E_97.glif</string>
  <key>uni0E99</key>
  <string>uni0E_99.glif</string>
  <key>uni0E9A</key>
  <string>uni0E_9A_.glif</string>
  <key>uni0E9B</key>
  <string>uni0E_9B_.glif</string>
  <key>uni0E9C</key>
  <string>uni0E_9C_.glif</string>
  <key>uni0E9D</key>
  <string>uni0E_9D_.glif</string>
  <key>uni0E9E</key>
  <string>uni0E_9E_.glif</string>
  <key>uni0E9F</key>
  <string>uni0E_9F_.glif</string>
  <key>uni0EA1</key>
  <string>uni0E_A_1.glif</string>
  <key>uni0EA2</key>
  <string>uni0E_A_2.glif</string>
  <key>uni0EA3</key>
  <string>uni0E_A_3.glif</string>
  <key>uni0EA5</key>
  <string>uni0E_A_5.glif</string>
  <key>uni0EA7</key>
  <string>uni0E_A_7.glif</string>
  <key>uni0EAA</key>
  <string>uni0E_A_A_.glif</string>
  <key>uni0EAB</key>
  <string>uni0E_A_B_.glif</string>
  <key>uni0EAD</key>
  <string>uni0E_A_D_.glif</string>
  <key>uni0EAE</key>
  <string>uni0E_A_E_.glif</string>
  <key>uni0EAF</key>
  <string>uni0E_A_F_.glif</string>
  <key>uni0EB0</key>
  <string>uni0E_B_0.glif</string>
  <key>uni0EB1</key>
  <string>uni0E_B_1.glif</string>
  <key>uni0EB2</key>
  <string>uni0E_B_2.glif</string>
  <key>uni0EB3</key>
  <string>uni0E_B_3.glif</string>
  <key>uni0EB4</key>
  <string>uni0E_B_4.glif</string>
  <key>uni0EB5</key>
  <string>uni0E_B_5.glif</string>
  <key>uni0EB6</key>
  <string>uni0E_B_6.glif</string>
  <key>uni0EB7</key>
  <string>uni0E_B_7.glif</string>
  <key>uni0EB8</key>
  <string>uni0E_B_8.glif</string>
  <key>uni0EB9</key>
  <string>uni0E_B_9.glif</string>
  <key>uni0EBB</key>
  <string>uni0E_B_B_.glif</string>
  <key>uni0EBC</key>
  <string>uni0E_B_C_.glif</string>
  <key>uni0EBD</key>
  <string>uni0E_B_D_.glif</string>
  <key>uni0EC0</key>
  <string>uni0E_C_0.glif</string>
  <key>uni0EC1</key>
  <string>uni0E_C_1.glif</string>
  <key>uni0EC2</key>
  <string>uni0E_C_2.glif</string>
  <key>uni0EC3</key>
  <string>uni0E_C_3.glif</string>
  <key>uni0EC4</key>
  <string>uni0E_C_4.glif</string>
  <key>uni0EC6</key>
  <string>uni0E_C_6.glif</string>
  <key>uni0EC8</key>
  <string>uni0E_C_8.glif</string>
  <key>uni0EC9</key>
  <string>uni0E_C_9.glif</string>
  <key>uni0ECA</key>
  <string>uni0E_C_A_.glif</string>
  <key>uni0ECB</key>
  <string>uni0E_C_B_.glif</string>
  <key>uni0ECC</key>
  <string>uni0E_C_C_.glif</string>
  <key>uni0ECD</key>
  <string>uni0E_C_D_.glif</string>
  <key>uni0ED0</key>
  <string>uni0E_D_0.glif</string>
  <key>uni0ED1</key>
  <string>uni0E_D_1.glif</string>
  <key>uni0ED2</key>
  <string>uni0E_D_2.glif</string>
  <key>uni0ED3</key>
  <string>uni0E_D_3.glif</string>
  <key>uni0ED4</key>
  <string>uni0E_D_4.glif</string>
  <key>uni0ED5</key>
  <string>uni0E_D_5.glif</string>
  <key>uni0ED6</key>
  <string>uni0E_D_6.glif</string>
  <key>uni0ED7</key>
  <string>uni0E_D_7.glif</string>
  <key>uni0ED8</key>
  <string>uni0E_D_8.glif</string>
  <key>uni0ED9</key>
  <string>uni0E_D_9.glif</string>
  <key>uni0EDC</key>
  <string>uni0E_D_C_.glif</string>
  <key>uni0EDD</key>
  <string>uni0E_D_D_.glif</string>
  <key>uni2009</key>
  <string>uni2009.glif</string>
  <key>uni200B</key>
  <string>uni200B_.glif</string>
  <key>uni20AD</key>
  <string>uni20A_D_.glif</string>
  <key>uni25CC</key>
  <string>uni25C_C_.glif</string>
</dict>
</plist>
