<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>CR</string>
    <string>space</string>
    <string>uni0E81</string>
    <string>uni0E82</string>
    <string>uni0E84</string>
    <string>uni0E87</string>
    <string>uni0E88</string>
    <string>uni0E8A</string>
    <string>uni0E8D</string>
    <string>uni0E94</string>
    <string>uni0E95</string>
    <string>uni0E96</string>
    <string>uni0E97</string>
    <string>uni0E99</string>
    <string>uni0E9A</string>
    <string>uni0E9B</string>
    <string>uni0E9C</string>
    <string>uni0E9D</string>
    <string>uni0E9E</string>
    <string>uni0E9F</string>
    <string>uni0EA1</string>
    <string>uni0EA2</string>
    <string>uni0EA3</string>
    <string>uni0EA5</string>
    <string>uni0EA7</string>
    <string>uni0EAA</string>
    <string>uni0EAB</string>
    <string>uni0EAD</string>
    <string>uni0EAE</string>
    <string>uni0EAF</string>
    <string>uni0EB0</string>
    <string>uni0EB1</string>
    <string>uni0EB2</string>
    <string>uni0EB3</string>
    <string>uni0EB4</string>
    <string>uni0EB5</string>
    <string>uni0EB6</string>
    <string>uni0EB7</string>
    <string>uni0EB8</string>
    <string>uni0EB9</string>
    <string>uni0EBB</string>
    <string>uni0EBC</string>
    <string>uni0EBD</string>
    <string>uni0EC0</string>
    <string>uni0EC1</string>
    <string>uni0EC2</string>
    <string>uni0EC3</string>
    <string>uni0EC4</string>
    <string>uni0EC6</string>
    <string>uni0EC8</string>
    <string>uni0EC9</string>
    <string>uni0ECA</string>
    <string>uni0ECB</string>
    <string>uni0ECC</string>
    <string>uni0ECD</string>
    <string>uni0ED0</string>
    <string>uni0ED1</string>
    <string>uni0ED2</string>
    <string>uni0ED3</string>
    <string>uni0ED4</string>
    <string>uni0ED5</string>
    <string>uni0ED6</string>
    <string>uni0ED7</string>
    <string>uni0ED8</string>
    <string>uni0ED9</string>
    <string>uni0EDC</string>
    <string>uni0EDD</string>
    <string>uni20AD</string>
    <string>uni000A</string>
    <string>uni25CC</string>
    <string>uni200B</string>
    <string>uni2009</string>
  </array>
</dict>
</plist>
